*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// sass variables: These doesn't compile to CSS variable, rather they compile to the actual value. 
$primary-color: #272727;
$text-color: #fff;

//Using Maps: Maps are list of key value pairs
$font-weights: (
    "regular": 300,
    "medium": 500,
    "bold": 900
);

body{
    background-color: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights , bold);
}

//Nesting
.header{
    margin: 200px 10px 90px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
        &:hover{
            //color: #f45;
            transform: rotate(10deg);
            font-size: 150%;
        }
    span{
        color: rgb(184, 184, 28);
        
    }
    h3{
        padding: 30px 10px 10px;
    }
    h1{
        font-size: 70px;
    }
   
}


